html{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffff;
    font-size: 13px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    min-height: 75px;
    background-color: #000000;
    display: flex;
    justify-content: flex-end;
    padding: 5px 5px 40px 0;
    column-gap: 10px;
}

.view{
    display: flex;
}

.video-layout, .screen-mode{
    height: 25px;
    background-color: #4A4A4A;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.video-layout{
    width: 109px;
    column-gap: 5px;
}

.screen-mode{
    width: 25px;
}

main{
    background-color: #000000;
    flex-grow: 1;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px 5px;
}

.participant{
    width: 185px;
    height: 120px;
    background-image: url('img/sean-oulashin-KMn4VEeEPR8-unsplash.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

.name{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(74, 74, 74, 0.5);
    padding: 3px;
}



/* Footer ------------------------- */

footer{
    min-height: 80px;
    background-color: #222222;
}



/* DEBUG */

header{
    border: 2px dashed yellowgreen;
}

main{
    border: 2px dashed red;
}

.participant{
    border: 1px dashed fuchsia;
}